/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/aura-dark-pink/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// * {
//   font-family: "Roboto", sans-serif;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

html {
  height: 100%;
  width: 100%;
}

body,
app-root {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-button {
  width: 100%;
  flex-grow: 1;
}

.p-inputtext {
  width: 100%;
}
